<nav>
    <ul>
        <li class="right"><a href='/librarian' class="right">Librarian</a></li>
        <li class="right"><a href='/guest' class="right">Guest</a></li>
        <li class="right"><a href='/' class="right">Home</a></li>

    </ul>
</nav>
<section class='search'>
    <div class="container">
        <div class="input-field col s12">
            <div class="search-wrapper card">
                <form action="/search" method="post">
                    <input id="search" name="search">
                    <i class ="material-icons">search</i>
                </form>
            </div>
        </div>
    </div>
</section>
